/* 
    Created on : 01/10/2015, 17:28:02
    Author     : douglasgabriel
*/
nav{
    box-shadow:none;
}
nav .brand-logo img{
    width:60px;
}
nav .nav-wrapper{
    width:80%;
    margin:0 auto;
}
nav .right img{
    width:40px;
    border-radius: 100%;
    display:inline !important;
    margin:10px;
}

nav .right h5{
    display:inline !important;
    position:relative;
    bottom:20px;
}

nav .top-bar a{    
    margin:0px;
    height:64px
}

nav #slide-out li, #slide-out a{
    padding:0px 0px 0px 0px !important;    
}

nav #slide-out img{
    height:100% !important;
    width:100% !important;
}
#slide-out #slide-out-user-image{
    height:240px !important;
    width:240px !important;
}
#slide-out .menu-item{
    color:black;
    padding-left:20px !important;
}
.muted{
    color:grey;
}
.section-title{
    text-align: center;
}
.posts .post{
    background-color: white;
    padding: 10px 0px 0px 0px;        
    height:250px;
    overflow-y: auto;
    margin-top:10px;
}
.posts .post > *{
    margin:10px;
}
.posts .post .post_footer{
    margin:0px;
    border-top:1px solid rgba(0,0,0,0.2);    
    width:100% !important;
    padding:5px 10px;
    position:relative;
    bottom:0px;
}
