/* 
    Created on : 29/07/2015, 13:12:46
    Author     : douglasgabriel
*/

nav .right img{
    width:40px;
    border-radius: 100%;
    display:inline !important;
    margin:10px;
}

nav .right h5{
    display:inline !important;
    position:relative;
    bottom:20px;
}

nav .top-bar a{    
    margin:0px;
    height:64px
}

nav #slide-out li, #slide-out a{
    padding:0px 0px 0px 0px !important;    
}

nav #slide-out img{
    height:240px !important;
    width:240px !important;
}
#newPostModal input{
    max-height: 100px;
}

